.main-heading {
  font-size: 40px;
  font-weight: bold;
  color: brown;
}
.addtocart-btn {
  background-color: brown;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}
.addtocart-btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.remove-btn {
  background-color: tan;
  color: black;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}
.remove-btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
