.search-div {
  border-radius: 10px;
  background-color: #393939;
  padding: 3px;
  max-width: 200px;
}
.search-input {
  outline: none;
  border: none;
  padding: 2px 10px;
  width: 100%;
  border-radius: 10px;
  background: transparent;
  color: white;
}
.navbar-links {
  text-decoration: none;
  color: white;
  font-size: 12px;
  padding: 5px;
}
.navbar-links:focus {
  border-bottom: 1px solid brown;
  color: brown;
}
.navbar-links:hover {
  color: brown;
}
.navbar-heading {
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.dialogbox-inputfields {
  outline: none;
  border: none;
  border-bottom: 1px solid silver;
  padding: 5px;
  background-color: transparent;
  width: 100%;
  color: black;
}
.dialogbox-button-action {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.dialogbox-button-cancel {
  background-color: transparent;
  border: none;
  padding: 5px;
}
.dialogbox-button-action:hover {
  cursor: pointer;
}
.dialogbox-button-cancel:hover {
  cursor: pointer;
}
